@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');
content {
    font-family: 'Aldrich', sans-serif;
    background: url('../../src/assets/imgs/login.jpg');
    background-size: cover;
}